<!DOCTYPE html>

<!--suppress HtmlUnknownAttribute -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="SongzaApp" ng-controller="songzaController">
<head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="rbDhZy3hGYP0h79Gn02ERCljGrTziMtktp3Tx5oq28g" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="site.css">
</head>

<body ng-keypress="doKeyEvent($event)" ng-keydown="doKeyEvent($event)">
<div class="row" style="text-align: center; background-color: #202020">
    <div class="col-md-12">
        <h1>Songza Browser</h1>
    </div>
</div>

<div class="row" ng-show="isPlaying">
    <div class="col-md-2">
        <img ng-src="{{stationNext.song.cover_url}}" id="nowplayingArt" height="100px" />
    </div>
    <div class="col-md-2">
        <div>
            <h5>{{stationNext.song.artist.name}}</h5>
            <h4>{{stationNext.song.title}}</h4>
        </div>
    </div>
    <div class="col-md-4">

        <p>
            <audio id="player" controls>
                <source ng-src="{{stationNext.listen_url}}" type="audio/mp4">
                <source ng-src="{{stationNext.listen_url}}" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
        <p>
            <a class="btn btn-primary" ng-click="getStationNext(playingStation)"><i class="glyphicon glyphicon-forward"></i></a>
        </p>

    </div>
    <div class="col-md-4">
        <h4>Now Playing</h4>
        <h5>{{stations.selectedItem.name}}</h5>
        <!--<p>{{stations.selectedItem.description}}</p>-->
    </div>

</div>
<div id="main" ng-style="mainStyle">

    <div class="row">
        <!--suppress HtmlUnknownAttribute -->
        <scroll-list collection="categories"></scroll-list>
        <scroll-list collection="collections"></scroll-list>
        <scroll-list collection="stations"></scroll-list>
    </div>

    <div class="row">

        <div class="col-md-4 column">
            <div>
                <h4 ng-show="stations.selectedItem">{{stations.selectedItem.name}} - {{stations.selectedItem.song_count}} songs</h4>
            </div>

            <div>
                <img ng-src="{{stations.selectedItem.cover_url}}" />
            </div>
        </div>

        <div class="col-md-4 column">
            <p>
                {{stations.selectedItem.description}}
            </p>
        </div>

        <div class="col-md-4 column">
            <strong ng-show="stations.selectedItem">Featuring</strong>
            <li ng-repeat="artist in stations.selectedItem.featured_artists">{{artist.name}}</li>
            <p>
                <a href="#" class="btn-btn-info" ng-click="playStation(stations.selectedItem)" ng-hide="stations.selectedItem == playingStation && isPlaying">Play [spacebar]</a>
                <a href="#" class="btn-btn-info" ng-click="pause()" ng-show="stations.selectedItem == playingStation && isPlaying">Currently playing [spacebar to pause]</a>
            </p>
        </div>

    </div>
</div>


</body>
</html>